# Powerful data structures for data analysis, time series,and statistics
# https://pypi.python.org/pypi/pandas/0.17.1
pandas==0.17.1


# HTML parser based on the WHATWG HTML specification
# https://pypi.python.org/pypi/html5lib/0.9999999
html5lib==0.9999999


# Convert functions into multi-command program breezily.
# https://pypi.python.org/pypi/clime/0.3.1
clime==0.3.1


# Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API.
# https://pypi.python.org/pypi/lxml/3.5.0
lxml==3.5.0

