# Powerful data structures for data analysis, time series,and statistics
# https://pypi.python.org/pypi/pandas/0.17.1
pandas==0.17.1


# HTML parser based on the WHATWG HTML specification
# https://pypi.python.org/pypi/html5lib/0.9999999
html5lib==0.9999999


# Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API.
# https://pypi.python.org/pypi/lxml/3.5.0
lxml==3.5.0


# Python HTTP for Humans.
# https://pypi.python.org/pypi/requests/2.9.1
requests==2.9.1


# Screen-scraping library
# https://pypi.python.org/pypi/bs4/0.0.1
bs4==0.0.1

